<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="m-2">
    <div class="col-md-10">
      <h1 class="navbar-brand">Retro Computer Museum</h1>
    </div>
  </div>
</nav>


<div class="topnav">
  <a activeTab [activeComponent]="activeComponent" [currentTab]="'home'" href="/home">Home</a>
  <a activeTab [activeComponent]="activeComponent" [currentTab]="'admin'" href="/admin">Admin</a>
  <a activeTab [activeComponent]="activeComponent" [currentTab]="'about'" href="#about">About</a>
  <div>
      <button class='btn btn-primary' (click)="performSearch()">search</button>
      <input type="text" placeholder="Search.." [(ngModel)]="searchTerm"
             required minlength="2" (keydown.enter)="performSearch()" >
  </div>
</div>


