<rc-header [activeComponent]="'home'"></rc-header>
<div class="container">
  <h2 class="mt-3">Welcome</h2>
  <p class="mb-3">A place to find info on retro computers. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Aenean facilisis luctus ante, non cursus lectus feugiat eu. Quisque lectus tellus, ultrices quis erat a,
    fermentum mattis urna. Mauris pellentesque metus eros, consectetur rutrum dui iaculis in. Etiam lobortis cursus ipsum.
    Aenean id sapien non dui sodales placerat. In varius sit amet odio finibus finibus. Vivamus molestie cursus libero non
    scelerisque. Donec tincidunt ante ac nulla malesuada, nec aliquam magna sollicitudin.</p>
  <featured-computer></featured-computer>
</div>
